---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: payment_method_types[0]=card&line_items[0][price_data][currency]=GBP&line_items[0][price_data][product_data][name]=JingleJam+donation&line_items[0][price_data][unit_amount]=2500&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Fwww.example.com%2Fdonations%3Fstatus%3Dsuccess&cancel_url=http%3A%2F%2Fwww.example.com%2Fdonations%3Fstatus%3Dcancelled
    headers:
      Authorization:
      - Bearer sk_test_RF1Y5iG27KjxQsJRU9JFUCKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a1rpNrGK46rW2yRgFA1WxaFzfkWHTs2PrhY0yO7qrAkdN2K0i38mh1fKXV",
          "object": "checkout.session",
          "allow_promotion_codes": null,
          "amount_subtotal": 2500,
          "amount_total": 2500,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://www.example.com/donations?status=cancelled",
          "client_reference_id": null,
          "currency": "gbp",
          "customer": null,
          "customer_details": null,
          "customer_email": null,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "payment",
          "payment_intent": "pi_3JP6VYF8Xa69IuPb0tjUmqau",
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "submit_type": null,
          "subscription": null,
          "success_url": "http://www.example.com/donations?status=success",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/pay/cs_test_a1rpNrGK46rW2yFgFA1WxtFzfkWHTs2PrhY0yO7qrAkdN2K0i38mh1fKXV#fidkdWxOYHwnPyd1blpxYHZxWnFAPWZkcmNCNDFoUEBJNT1GMkZoUlNNNycpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Mon, 16 Aug 2021 14:09:44 GMT
recorded_with: VCR 6.0.0
