<h1><%= t("homepage.header") %></h1>

<%= render "streaming/twitch", channel: "yogscast" %>

<h2>Active fundraisers</h2>
<% if (fundraisers = Fundraiser.active.open).any? %>
  <ul>
    <% fundraisers.each do |fundraiser| %>
      <li>
        <p><%= link_to fundraiser %></p>
        <h3>Streamers</h3>
        <ul>
          <% CuratedStreamer.all.each do |streamer| %>
            <li><%= link_to streamer.twitch_username, fundraiser_curated_streamer_path(fundraiser, streamer) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No active fundraisers</p>
<% end %>
