---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_12345
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "pi_3JUQbuF8Xa59IuPb0BUAwi9Q",
              "object": "payment_intent",
              "amount": 1750,
              "amount_capturable": 0,
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "canceled_at": 1630478299,
              "cancellation_reason": "automatic",
              "capture_method": "automatic",
              "charges": {
                "object": "list",
                "data": [

                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges?payment_intent=pi_3JUQbuF8Xa59IuPb0BUAwi9Q"
              },
              "client_secret": "pi_3JUQbuF8Xa59IuPb0BUAwi9Q_secret_12345",
              "confirmation_method": "automatic",
              "created": 1630391898,
              "currency": "gbp",
              "customer": null,
              "description": null,
              "invoice": null,
              "last_payment_error": null,
              "livemode": false,
              "metadata": {
              },
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_options": {
                "card": {
                  "installments": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                }
              },
              "payment_method_types": [
                "card"
              ],
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "canceled",
              "transfer_data": null,
              "transfer_group": null
            },
            {
              "id": "pi_3JUQbrF8Xa59IuPb0LVyIugp",
              "object": "payment_intent",
              "amount": 250,
              "amount_capturable": 0,
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "canceled_at": 1630478296,
              "cancellation_reason": "automatic",
              "capture_method": "automatic",
              "charges": {
                "object":[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?starting_after=pi_3JUPgHF8Xa59IuPb1kDJC9Tu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_12345
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      strin[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?starting_after=pi_3JU73jF8Xa59IuPb0mkgkYt0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_12345
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      strin[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?starting_after=pi_1JByy8F8Xa59IuPbRMjV08t9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_12345
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "pi_1JByvyF8Xa59IuPbXzlSlItr",
              "object": "payment_intent",
              "amount": 2500,
              "amount_capturable": 0,
              "amount_received": 2500,
              "application": null,
              "application_fee_amount": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "charges": {
                "object": "list",
                "data": [
                  {
                    "id": "ch_1JBywBF8Xa59IuPb6EZvJcUB",
                    "object": "charge",
                    "amount": 2500,
                    "amount_captured": 2500,
                    "amount_refunded": 0,
                    "application": null,
                    "application_fee": null,
                    "application_fee_amount": null,
                    "balance_transaction": "txn_1JBywBF8Xa59IuPbtAZNuWi9",
                    "billing_details": {
                      "address": {
                        "city": null,
                        "country": "GB",
                        "line1": null,
                        "line2": null,
                        "postal_code": "SW1 1AA",
                        "state": null
                      },
                      "email": "test@example.com",
                      "name": "Test User",
                      "phone": null
                    },
                    "calculated_statement_descriptor": "Jingle Jam",
                    "captured": true,
                    "created": 1625995619,
                    "currency": "gbp",
                    "customer": "cus_JpeErIIJRetB1y",
                    "description": null,
                    "destination": null,
                    "dispute": null,
                    "disputed": false,
                    "failure_code": null,
                    "failure_message": null,
                    "fraud_details": {
                    },
                    "invoice": null,
                    "livemode": false,
                    "metadata": {
                    },
                    "on_behalf_of": null,
                    "order": null,
                    "outcome": {
                      "network_status": "approved_by_network",
                      "reason": null,
                      "risk_level": "normal",
                      "risk_score": 43,
                      "seller_message": "Payment complete.",
                      "type": "authorized"
                    },
                    "paid": true,
                    "payment_intent": "pi_1JByvyF8Xa59IuPbXzlSlItr",
                    "payment_method": "pm_1JBywAF8Xa59IuPbhkYUmqGb",
                    "payment_method_details": {
                      "card": {
                        "brand": "visa",
                        "checks": {
                          "address_line1_check": null,
                          "address_postal_code_check": "pass",
                          "cvc_check": "pass"
                        },
                        "country": "US",
                        "exp_month": 1,
                        "exp_year": 2049,
                        "fingerprint": "1234",
                        "funding": "credit",
                        "installments": null,
                        "last4": "4242",
                        "network": "visa",
                        "three_d_secure": null,
                        "wallet": null
                      },
                      "type": "card"
                    },
                    "receipt_email": null,
                    "receipt_number": null,
                    "receipt_url": "https://pay.stripe.com/receipts/acct_1DKrb3F8Xa59IuPb/ch_1JBywBF8Xa59IuPb6EZvJcUB/rcpt_JpeEubstPoIfA4HPg1m7ikYuoOHDGhB",
                    "refunded": false,
                    "refunds": {
                      "object": "list",
                      "data": [

                      ],
                      "has_more": false,
                      "total_count": 0,
                      "url": "/v1/charges/ch_1JBywBF8Xa59IuPb6EZvJcUB/refunds"
                    },
                    "review": null,
                    "shipping": null,
                    "source": null,
                    "source_transfer": null,
                    "statement_descriptor": null,
                    "statement_descriptor_suffix": null,
                    "status": "succeeded",
                    "transfer_data": null,
                    "transfer_group": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/charges?payment_intent=pi_1JByvyF8Xa59IuPbXzlSlItr"
              },
              "client_secret": "pi_1JByvyF8Xa59IuPbX[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?starting_after=pi_1J9uL0F8Xa59IuPbsS6x7fzE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_12345
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      strin[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?starting_after=pi_1ITSAvF8Xa59IuPbi4g4tP20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_12345
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      strin[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?starting_after=pi_1ISVjQF8Xa59IuPbJiaAdLKv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_12345
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      strin[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?starting_after=pi_1IPTjAF8Xa59IuPbF4Lvq3YI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_12345
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      strin[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?starting_after=pi_1IP3W1F8Xa59IuPbk5sNVFcM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_12345
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      strin[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?starting_after=pi_1IOriDF8Xa59IuPb4GuhZrUF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_12345
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      strin[...]
