#donation-form {
  input.amount {
    width: 6em;
  }

  ul.charity-split {
    list-style: none;
    padding-left: 1em;
    padding-top: 5px;
    font-size: 0.8em;
    border: 1px solid #888;

    p {
      margin: 0;
    }

    input.manual {
      vertical-align: super;
    }
  }
}
