@import "_global_variables";

header {
  width: 100%;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    a {
      border: 0;
    }

    .logo-box {
      flex-grow: 1;

      display: flex;
      align-items: center;

      .logo {
        max-width: 150px;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      flex: 0 0 auto;

      list-style-type: none;
      padding-inline-start: 0;

      li {
        margin: 0 1em;
        padding: 0.6em 0;

        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;

        transition: color 170ms ease-in-out;

        color: $jj-red;

        a {
          color: $jj-black;
        }

        &:hover a {
          color: $jj-red;
        }
      }
    }

    .filler {
      flex: 1 0 150px;
    }
  }
}
