---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: payment_method_types[0]=card&line_items[0][price_data][currency]=GBP&line_items[0][price_data][product_data][name]=JingleJam+donation&line_items[0][price_data][unit_amount]=1000&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2F127.0.0.1%3A30001%2Fdonations%3Fstatus%3Dsuccess&cancel_url=http%3A%2F%2F127.0.0.1%3A30001%2Fdonations%3Fstatus%3Dcancelled
    headers:
      Authorization:
      - Bearer sk_test_RF5Y5iG27KjxQyJRU9JFUPKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a1MTUijYNsU5GnpmUVtqEbuAKhrvMPrvyispozNUqzLw041NzpF6ZTg9A4",
          "object": "checkout.session",
          "allow_promotion_codes": null,
          "amount_subtotal": 1000,
          "amount_total": 1000,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://127.0.0.1:30001/donations?status=cancelled",
          "client_reference_id": null,
          "currency": "gbp",
          "customer": null,
          "customer_details": null,
          "customer_email": null,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "payment",
          "payment_intent": "pi_3JU7ODF8Xa54IuPb9Fxu8Mm",
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "submit_type": null,
          "subscription": null,
          "success_url": "http://127.0.0.1:30001/donations?status=success",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/pay/cs_test_a1MTVijYNsU5JCvmUVtqHbuAKhrvMPrvyispozNUqzLw841NzpF6ZTg9A4#fidkdWxOYHwnPyd1blpxYHZxWnFAPWZkcmNNNDFoUEBJNT1GMkZoUlNNNycpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Mon, 30 Aug 2021 10:06:53 GMT
[...]
