<% if twitch_embed_enabled? %>
  <div id="twitch-embed" data-channel="<%= channel %>"></div>

  <% content_for :head do %>
    <script src="https://embed.twitch.tv/embed/v1.js" charset="utf-8"></script>

    <script type="text/javascript">
      onReady(function() {
        let id = "twitch-embed";
        let embed = document.getElementById(id);

        new Twitch.Embed(id, {
          channel: embed.dataset.channel,
          width: 1280,
          height: 720,
        });
      });
    </script>
  <% end %>
<% end %>
